<form [formGroup]="generalForm" (ngSubmit)="onSubmit(generalForm)">
<div class="tab-1">
    <div class="row wow fadeIn">
        <div class="col-lg-8 mb-sm-20">
                <div class="field-set">
                    <h5>Username</h5>
                    <input type="text" class="form-control" placeholder="Enter User Name" formControlName="username" required>                               

                    <div class="spacer-20"></div>

                    <h5>Email</h5>
                    <input type="text" class="form-control" placeholder="Enter User Name" formControlName="email" required>

                    <div class="spacer-20"></div>

                    <h5>First name</h5>
                    <input type="text" class="form-control" placeholder="Enter First Name" formControlName="first_name" required>

                    <div class="spacer-20"></div>

                    <h5>Last name</h5>
                    <input type="text" class="form-control" placeholder="Enter Last Name" formControlName="last_name" required>
                </div>
        </div>                                 
    </div>
</div>
<div class="spacer-30"></div>
<button type="submit" class="btn-main">{{button_title}}</button>
</form>