<form [formGroup]="passwordForm" (ngSubmit)="onSubmit(passwordForm)">
    <div class="tab-1">
        <div class="row wow fadeIn">
            <div class="col-lg-8 mb-sm-20">
                    <div class="field-set">
                        <h5>Password</h5>
                        <input type="text" class="form-control" placeholder="Enter Password" formControlName="password" required>
    
                        <div class="spacer-20"></div>
    
                        <h5>Confirm Password</h5>
                        <input type="text" class="form-control" placeholder="Enter Confirm Password" formControlName="confirm_password" required>
                    </div>
            </div>                                 
        </div>
    </div>
    <div class="spacer-30"></div>
    <button type="submit" class="btn-main">{{button_title}}</button>
    </form>